
/**
* @file
* Sample CSS-file for a pressarchiv
*/

.himuesgallery_outer,
.himuesgallery_text {
  clear: both;
  float: left;
  width: 100%;
}

.himuesgallery_text {
  border-bottom: 1px solid black;
}

.himuesgallery_picture {
  float: left;
  margin: 5pt;
  text-align: center;
  vertical-align:middle;
  width: 320px;
}

.himuesgallery_picture_image {
  height: 300px; /* will be used in himuesgallery to create thumbnails */
  width: 300px;  /* so be shure it is there */
}

.himuesgallery_picture_description {
  height: 30px;
  margin-bottom: 5pt;
}

.clearer {
  clear:both;
}

